/* ---RESPONSIVE----- */
@media (min-width: 980px){
    #imgbotonera img{
        width: 200px;
    }

    .contenedor-general{
        width: 90%;
        margin: 50px auto;
        padding: 40px 20px;
    }
    .contenedor-contacto{
        width: 60%;
    }

    .ancho-video{
        width: 610px;
        height: 315px;
    }
}

@media (min-width: 1200px){
    

    .cartas{
        width: 70%;
    }
    .contenedor-cursos{
        width: 30%;
        padding: 5px 5px ;
        margin: 30px 30px;
        text-align: center;
    }

    .contenedor-asesoramiento{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: stretch;
        div{
            width: 33%;
            
        }
    }

    .contenedor-contacto{
        font-size: 2rem;
        width: 45%;
    }
    .titulo-grande{
        font-size: 4rem;
    }

    
    .transform:hover{
        transform: translate(0px,-2px);
        cursor: pointer;
        transition: transform 0.2s;
    }

}

@media (min-width: 1300px){
    
    .ancho-video{
        width: 1120px;
        height: 630px;
    }

    
}

@media (min-width: 1400px){
    #cursos{
        flex-direction: row;
        justify-content: space-around;
        align-content: center;
    }
    .cartas{
        width: 370px;
    }
}
@media (min-width: 1600px){
    .cartas{
        width: 450px;
    }
}