#botonera{
    font-size: 2rem;    
}

#imgbotonera img{
    width: 125px;
}

nav{
    ul{
        li{
            a:hover{
                color: gray;
                text-decoration: solid;
                font-weight: bold;
            }
        }
    }
}